<h1>Prise de Contact</h1>

<p>Bonjour, <br></p>
<p>Je vous recontacterais dans les plus brefs délais.</p>

Voici le contenu de votre prise de contact :
<p> <b>Sujet :</b> {{ sujet }}</p>
<p> <b>De :</b> {{ mail }}</p>
<p> <b>Votre message : </b> {{ message }}</p>



<p>Je vous souhaite une bonne journée.</p>
<h3> Cordialement,<br>
MARBACH Andrew</h3>
